main {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
    min-width: 90px;
    width: 290px;
    background-color: #003049;
    background-image: url("../../images/bulsu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}


#content {
    margin-left: 90px;
}

@media (min-width: 992px) {
    #content {
        margin-left: 280px;
    }
}

.brand-name {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
}

.nav-link {
    text-align: left !important;
    width: 100%;
    cursor: pointer;
    font-size: large;
}

.active {
    background: #fd7e14 !important;
}

.nav-link:hover {
    color: #ffd86e !important;
}

.active:hover {
    color: white !important;
}

.glass-effect {
    background: linear-gradient(32deg, rgb(139 63 0), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}
