
faculty-sample-data.xlsx
~$faculty-sample-data.xlsx
.vscode/launch.json
BSIT-2018-Curriculum.docx.pdf
sampleclassrecord.xlsx
~$sampleclassrecord.xlsx
~$student-data-format.xlsx
student-data-format.xlsx
BSIT-2018-Curriculum.xlsx
faculty-data-format.xlsx
official-classlist4A.pdf
avatars
Grading sheets
Class List
